
<h1>Categories</h1>

<div>
    <table>
        <thead>
            <th>Title</th>
            <th>description</th>
            <th>url</th>
            <th>Cdate-from timestamp</th>
        </thead>
        
        <tbody>
            {{#each b}}
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td><a href="{{this.url}}">{{this.url}}</a></td>
                <td><time class="format-date"></time>{{this.createdAt}}</td>
                <div><a href="{{this.id}}" class='btn btn-info'>View</a></div>
        
            </tr>
            {{/each}}
        </tbody>
    
    </table>
</div>