

<h1>{{this.id}}</h1>
<h1>{{this.title}}</h1>
<h1>{{this.description}}</h1>
<h1>{{this.url}}</h1>
<h1>{{this.createdAt}}</h1>
<h1>{{this.id}}</h1>

<p class="list-group-item d-flex justify-content-between">{{this.description}}</p>
<textarea name="description" id="" cols="30" rows="10">description</textarea>

  {{!-- <input type="submit" class="btn btn-primary" /> --}}
  <a href="/" class="btn btn-secondary">Cancel</a>