<h1 class="container">View of: {{this.title}}</h1>

    <div class="container-lg">
              <div class="form-group">

                <label for="category">Category:</label>
                <input type="text" id="category" name="category" class="form-control" value="{{this.category}}"/>

                <label for="URL">URL:</label>
                <input type="text" id="url" name="url" class="form-control" value="{{this.url}}"/>

                <label for="description">description:</label>
                <input type="text" id="description" name="description" class="form-control" value="{{this.description}}" />
            </div>
  
      <a href="/" class="btn btn-secondary">Back to Index</a>
    </div>




  {{!-- <textarea name="" id="" cols="30" rows="10"><code>let eric = "teacher"</code></textarea> --}}
  
  {{!-- <form action="">
  <div class="container=sm" >
  <code class="form-control">let eric = "teacher"</code>
  </div> --}}

{{!-- <ul class="list-group">
   
    <li>Description: {{this.description}}</li>
    <li>Link: <a href="{{this.url}}">{{this.url}}</a></li>
    <li>{{this.createdAt}}</li>

<form action="/add" method="POST"> --}}
{{!-- <textarea name="description" id="" cols="30" rows="10">description</textarea> --}}
{{!-- <label for="description">Edit Description:</label>
<input type="text" id="description" name="description" class="form-control" />
</form>

 </ul> --}}
 
  {{!-- <input type="submit" class="btn btn-primary" /> --}}